
.name-company{
    color: rgb(201, 167, 80);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbersColor{
    background-color: rgb(63, 63, 37);
}
.logo-image{
    width: 70px;
}
.feachers{
    margin-left: 20%;
}

.butifull-button{
    border: none;
    background-color: transparent;
    border-radius: 50px;
    padding:0px 20px 0px 20px;
}
.butifull-button:hover{
    background-color: goldenrod;
}
#tapButtonToggler{
    background-color: white;
    border: none;
}
#tapButtonToggler:hover{
    color: white;
    background-color: goldenrod;
}